@model SiteInfoMonitoring.Models.TableItemprop
@{
    ViewBag.Title = "Добавление атрибута в таблицу";
}

<div class="row">
    <div class="page-header">
        <h2 style="text-align: center">
            @ViewBag.Title
        </h2>
    </div>
    <div class="col-md-12">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            <div class="form-group">
                @Html.CheckBoxFor(x => x.IsMainTag)
                @Html.LabelFor(x => x.IsMainTag)
            </div>
            <div class="form-group">
                @Html.LabelFor(x => x.Value)
                @Html.TextBoxFor(x => x.Value, new { @class = "form-control" })
                @Html.ValidationMessageFor(x => x.Value)
            </div>
            <div class="form-group">
                @Html.LabelFor(x => x.Description)
                @Html.TextBoxFor(x => x.Description, new { @class = "form-control" })
                @Html.ValidationMessageFor(x => x.Description)
            </div>
            <div class="form-group">
                <label>
                    Тип
                </label>
                @Html.EnumDropDownListFor(x => x.Type, "Выберите тип", new { @class = "form-control" })
            </div>
            <form method="post">
                <p>
                    <input type="submit" value="Сохранить" class="btn btn-primary" />
                </p>
            </form>
            @ViewBag.Message
        }
    </div>
</div>
