@model System.Security.Principal.IPrincipal

@if (Model != null && Model.Identity.IsAuthenticated)
{
    if (ViewBag.IsAdminUser == true)
    {
        <li>@Html.ActionLink("Раздел", "Index", "Division")</li>
        <li>@Html.ActionLink("Пользователи", "Index", "User")</li>
        <li>@Html.ActionLink("Настройки", "Index", "Setting")</li>
    }
    <li>@Html.ActionLink("Выход", "Logoff", "Account")</li>
}
else
{
    <li>@Html.ActionLink("Вход", "Login", "Account")</li>
}
